
$pink: #ecb2ba;
$pink-dark: #c6939a;
$tape-gray: #dbd8be;
$tape-edge-gray: #b7b49d;
$transparent: rgba(255, 255, 255, 0);

body {
    overflow: hidden;
}
Button:focus {
  box-shadow: none;
}
.shortenButton {
    //border-radius: 10px;
    margin-right: 3.7rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 7;

}
.shortenButton:focus {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.shortenTextInput {
    border: none;
    z-index: 0;
}

.clickable {
    pointer-events: initial !important;
}


.inset {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 0px inset;
}

.square span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
    background-color: #5ad1cd;
    border: none;
}
.square {
    position: relative;
    margin: 0 10px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}



  

  
  .tape-section {
    position: relative;

  }
  .tape-section:first-of-type {
    top: 0;
  }
  
  .tape-section:last-of-type {
    bottom: 0;
  }
  
  .tape-section::before,
  .tape-section::after {
    content: "";
    width: 7vmin;
    height: 4vmin;
    position: absolute;
    background-color: $tape-gray;
    opacity: 0.5;
    border-right: 1px dotted $tape-edge-gray;
    border-left: 1px dotted $tape-edge-gray;
  }
  
  .tape-section:last-of-type::after {
    transform: rotate(-45deg);
    right: 2vmin;
    top: 0vmin;
  }
  
  .tape-section:first-of-type::before {
    transform: rotate(-45deg);
    left: -2vmin;
    z-index: 3;
  }
  
  .tape-section:first-of-type::after {
    transform: rotate(45deg);
    right: -2vmin;
    z-index: 3;
  }
  
  .tape-section:last-of-type::before {
    transform: rotate(45deg);
  }
  

  .sticky-note{
      padding-bottom: 3rem;
  }

  .arrow {
      display: inline;
      margin-left: .5rem;
  }

  .more-button:hover > span:not(.icon) {
    text-decoration: underline;
  }
  .more-button:hover > span:not(.more-button-text) {
    transition: transform 0.3s ease-in-out;
    transform: translateY(6px);
  }
  .more-button > span:not(.more-button-text) {
    transform: translateY(3px);
    transition: transform 0.3s ease-in-out;
  }

  .more-button {
      color: black;
  }

  .navbar .navbar-brand {
    text-align: center;
    display: block;
    width: 100%;
  }
  
  .navbar .navbar-brand > .navbar-item,
  .navbar .navbar-brand .navbar-link {
    display: inline-block;
  }

  mark {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    padding-right: 6rem;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 255, 255, 0.2)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  .sketch-highlight{
    position:relative;
    width: 100%;
  }
  
  .sketch-highlight:before{
    content:"";
    z-index:-1;
    border-width:2px;
    border-style:solid;
    border-color:red;
    position:absolute;
    border-right-color:transparent;
    width:130%;
    height:1.4em;
    left:-0.4em;
    transform:rotate(2deg);
    opacity:0.7;
    border-radius:50%;
    padding:0.1em 0.25em;
  }
  
  .sketch-highlight:after{
    content:"";
    z-index:-1;
    left:-0.4em;
    top:0.1em;
    padding:0.1em 0.25em;
    border-width:2px;
    border-style:solid;
    border-color:red;
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:130%;
    height:1.4em;
    transform:rotate(-1deg);
    opacity:0.7;
    border-radius:50%;
  }

  .title-item {
      padding: 1em;
  }

  .hero {
      margin-left: 15%;
      margin-right: 15%;
  }
@media screen and (min-width: 769px) {
  
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: .5vh;
}
.wrapper {
    min-height: 100vh;
}



.copy-icon {
  transition: transform 0.3s ease-in-out;
  color: black;
}
.copy-icon:hover {
  transition: transform 0.3s ease-in-out;
  color: black;
  text-decoration: none;
  transform: translateY(6px);
}

